/*
  CRITICAL FIX: These rules completely remove the default arrows.
  The `content: '' !important;` rule is key to overriding the default.
*/
.slick-prev:before,
.slick-next:before {
  content: '' !important;
  display: none !important;
}

/* Ensure your custom button background is transparent */
.slick-prev,
.slick-next {
  background: transparent !important;
  border: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slick-container {
  width: 80%;
  max-width: 1100px;
  margin-top: 10px;
  height: 100%;
  margin-left: 0;
}

.logo-image {
  margin: 0px 10px;
  height: 70px;
  padding: 0px 7px;
  border-radius: 5px;
  width: 100%;
}
.slick-link {
  margin: 0px 10px;
  height: 70px;
  padding: 0px 7px;
  border-radius: 5px;
  width: 100%;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .logo-image {
    height: 200px;
    padding: 0px 10px;
  }
  .slick-link {
    height: 160px;
    padding: 0px 10px;
  }
}

.slick-item {
  margin: 0px 10px;
}

@media (min-width: 1024px) {
  .logo-image {
    height: 250px;
    padding: 0px 10px;
  }
  .slick-link {
    height: 160px;
    padding: 0px 10px;
  }
}
